<table class ="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody><%@products.each do |product|%>
    <tr>
      <td><%= product.name%></td>
      <td><%= product.description%></td>
      <td><%= product.price%></td>
      <td><%= Category.find(product.category_id).name%></td>
    </tr>
  <%end%></tbody>
</table>